/* ================= REGISTER PAGE ================= */

body{
background:#bad9ce;
min-height:100vh;
display:flex;
align-items:center;
justify-content:center;
font-family:Arial, Helvetica, sans-serif;
}


/* CONTENEDOR PRINCIPAL */

.login-wrapper{
width:100%;
display:flex;
justify-content:center;
align-items:center;
}


/* TARJETA */

.login-container{

background:white;
padding:40px;

border-radius:12px;

width:350px;

box-shadow:0 10px 25px rgba(0,0,0,0.1);

text-align:center;

}


/* LOGO */

.login-logo{
width:90px;
margin-bottom:15px;
}


/* TITULO */

.login-container h1{
margin-bottom:5px;
color:#2c3e50;
}

.login-subtitle{
color:#777;
font-size:14px;
margin-bottom:25px;
}


/* INPUT GROUP */

.input-group{
text-align:left;
margin-bottom:15px;
}

.input-group label{
font-size:14px;
color:#555;
display:block;
margin-bottom:5px;
}


/* INPUTS */

.input-group input{

width:100%;
padding:10px;

border:1px solid #ddd;
border-radius:6px;

font-size:14px;

transition:0.2s;

}

.input-group input:focus{

outline:none;
border-color:#000000;
box-shadow:0 0 0 2px rgba(59,142,234,0.15);

}


/* BOTON */

.login-btn{

width:100%;
padding:12px;

border:none;
border-radius:6px;

background:#f2bb16;
color:white;

font-size:15px;
font-weight:bold;

cursor:pointer;

transition:0.2s;

margin-top:10px;

}

.login-btn:hover{
background:#0E6973;
}


/* TEXTO LOGIN */

.register-text{
margin-top:20px;
font-size:14px;
color:#555;
}

.register-text a{
color:#0E6973;
text-decoration:none;
font-weight:600;
}

.register-text a:hover{
text-decoration:underline;
}
